.BackgroundSystem
{
	background-image:url(webapp/defaultdesktop.png);
}

.qxAboutLogo
{
	background-image:url(startup/logo.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 128px 128px;
	width: 128px;
	height: 128px;	
}

.qxIcon
{
	background-image:url(webapp/ico.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 16px 16px;
	width: 16px;
	height: 16px;	
}

.buy
{
	background-image:url(webapp/buy.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 20px 20px;
	width: 20px;
	height: 20px;	
}

.mnu_preferences
{
	background-image:url(webapp/Preferences.png);
}

.btnNew
{
	background-image:url(webapp/btnNew.png); 
	width: 32px;
	height: 32px;	
}

.text_disabled
{
	background: lightyellow;
}

.x-grid3-cell {vertical-align: middle;}